<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Review Details</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="fontawesome-free-5.15.1/css/all.css">
    <script src="https://kit.fontawesome.com/afd6aa68df.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/main.css" type="text/css">
</head>
<body>

  <!-- Navbar -->
  <ul class="nav justify-content-end">
    <form class="nav-item" sec:authorize="isAuthenticated()">
      <p id="hello-message">Hello, <span sec:authentication="name"></span>!</p>
    </form>
    <form class="nav-item" th:action="@{/dashboard}" method="get">
      <input class="nav-link dashboard-btn" type="submit" value="Home" />
    </form>
    <form class="nav-item" th:action="@{/search}" method="get">
      <input class="nav-link enter-new-review-btn" type="submit" value="Enter New Review" />
    </form>
    <form class="nav-item" th:action="@{/watchlist}" method="get">
      <input class="nav-link watchlist-btn" type="submit" value="Watchlist" />
    </form>
    <form class="nav-item" th:action="@{/logout}" method="post">
      <input class="nav-link logout-btn" type="submit" value="Logout" />
    </form>
  </ul>
  
  <a id="search-container" th:href="@{/dashboard}">
    <div class="logo"></div>
  </a>

  <h4 class="review-details-heading">Reviews by all members</h4>
  <div class="review-details-page-container" >
      <div class="row review-container">
        <div class="film-blurb">
          <img class="card-img-top search-card-img-top" th:src="${film.getPosterImage()}" alt="Card image cap">
          <h5 th:text="${film.getName()}"></h5>
          <hr>
          <p class="review-text card-text" th:text= "${film.getDescription()}"></p>
        </div>

        <div class="reviewDetails-container">
          <div class="single-review-container col-md-12 col-sm-4" th:each="reviewDetail : ${reviewDetails}" th:id="${reviewDetail.id}">
              <div class="card" style="margin-bottom: 40px;">
                  <div class="single-review-content card-body search-card-body">
                    <h6 class="review-usernames" th:text="${reviewDetail.getUser().getUsername()} + ':'"></h6>
                    <hr>
                    <div th:switch="${reviewDetail.getRating()}">
                        <div th:case="1">
                            <div class="review-star fa fa-star" th:each="i : ${#numbers.sequence(1, 1)}"></div>
                        </div>
                        <div th:case="2">
                            <div class="review-star fa fa-star" th:each="i : ${#numbers.sequence(1, 2)}"></div>
                        </div>
                        <div th:case="3">
                            <div class="review-star fa fa-star" th:each="i : ${#numbers.sequence(1, 3)}"></div>
                        </div>
                        <div th:case="4">
                            <div class="review-star fa fa-star" th:each="i : ${#numbers.sequence(1, 4)}"></div>
                        </div>
                        <div th:case="5">
                            <div class="review-star fa fa-star" th:each="i : ${#numbers.sequence(1, 5)}"></div>
                        </div>
                        <div th:case="*">
                            <p>No stars given</p>
                        </div>
                      </div>
                      <hr>
                      <div class="review-section">
                          <p class="card-text" th:text= "${reviewDetail.getReview()}"></p>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
</body>
</html>
